
executing==2.2.0
fastapi==0.115.12
fastapi-cli==0.0.7
Flask==3.1.0
flask-cors==6.0.0
Flask-Session==0.8.0

fuzzywuzzy==0.18.0
gitdb==4.0.12
GitPython==3.1.44
gunicorn

matplotlib==3.10.1
matplotlib-inline==0.1.7
narwhals==1.44.0
numpy==2.2.5
prophet==1.1.7
Pygments==2.19.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-Levenshtein==0.27.1
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.2
RapidFuzz==3.13.0
redis==6.2.0
requests==2.32.3

scikit-learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
statsmodels==0.14.4
streamlit==1.46.1
ujson==5.10.0
urllib3==2.4.0
uv==0.7.6
uvicorn==0.34.2

websockets==15.0.1
Werkzeug==3.1.3
